.landing-page-container {
    display: flex;
    flex-direction: column;
}

.sub-landing-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("https://i.imgur.com/lXcsJQ2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.landing-page-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15%;
}

.landing-page-intro>h1 {
    color: rgb(223, 14, 14);
    font-size: 80px;
    width: 40%;
}

.landing-page-intro>h3 {
    /* border: 1px solid red; */
    width: 70%;
    margin-top: 12%;
    font-size: 25px;
}

#try-us-btn {
    padding: 25px 0px;
    font-size: 30px;
    color: white;
    margin-top: 10%;
    cursor: pointer;
    border: 2px solid white;
    background-color: transparent;
    width: 330px;
    height: 100px;
    text-align: center;
    margin-bottom: 20%;
}

#try-us-btn:hover {
    color: black;
    background-color: white;
    transition: all 0.3s ease-in;
}

.fading-text {
    transition: opacity 0.5s ease;
}


.fading-text.fade-to-movement {
    opacity: 0;
}

.fading-text.fade-to-gym {
    opacity: 0;
}

.fading-text.show-movement {
    opacity: 1;
}

.fading-text.show-gym {
    opacity: 1;
}

.ambition-section-cover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(https://i.imgur.com/mS0Z4m2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.ambition-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.ambition-section>h2 {
    margin-bottom: 4%;
    font-size: 50px;
    margin-top: 22%;
    color: rgb(223, 14, 14);
}

.ambition-section>p {
    width: 70%;
    font-size: 35px;
    padding-bottom: 30%;
}

.ambition-section {
    opacity: 0;
    /* Initially hide the div */
    transform: translateY(200px);
    /* Move the div down by 50px */
    transition: opacity 0.5s ease, transform 1s ease;
}

.ambition-section.show {
    opacity: 1;
    /* Show the div */
    transform: translateY(0);
    /* Reset the div's position */
}


.join-the-movement-cover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(https://i.imgur.com/33JrlG9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.join-the-movement-section {
    display: flex;
    flex-direction: column;
    margin-top: 18%;
    padding-left: 7%;
}

.join-the-movement-section>h3 {
    font-size: 50px;
    margin-bottom: 2%;
    color: rgb(223, 14, 14);
}

.join-the-movement-section>p {
    font-size: 27px;
    margin-bottom: 5%;
    width: 70%;
}

.slogan-section {
    margin-left: 50%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slogan-section>h2 {
    margin-top: 10%;
    font-size: 50px;
    margin-bottom: 2%;
}

.slogan-section>p {
    margin-left: 10%;
    font-size: 30px;
    margin-bottom: 40%;

}

.slogan-section.show {
    opacity: 1;
}

.slogan-section h2 {
    display: inline-block;
    opacity: 0;
    transform: translateX(-100%);
    animation: word-appear 5s ease forwards;
    animation-delay: 1s;
}

@keyframes word-appear {
    from {
        opacity: 0;
        transform: translateX(0);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.pay-package-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(https://i.imgur.com/fGHQSuv.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.pay-package {
    display: flex;
    flex-direction: column;
}

.pay-package>h3 {
    font-size: 40px;
    margin-top: 12%;
    margin-left: 5%;
    margin-bottom: 5%;
}


.cards {
    display: flex;
    justify-content: space-around;
    gap: 0px;
    padding: 0px 10px;
    cursor: pointer;
    margin-bottom: 10%;
}

.card {
    z-index: 1;
    background: rgba(133, 114, 91, 0.6);
    border-radius: 1rem;
    padding: 1.8rem;
    /* box-shadow: 4px 4px 12px rgba(rgb(199, 193, 193), 0.60); */
    transition: 0.4s;
    display: flex;
    padding-bottom: 100px;
    /* backdrop-filter: blur(10px); */
}


.line {
    border-bottom: 1px solid rgba(133, 114, 91);
    margin: 12px 0px;
}

.day-pass {
    color: white;
    word-break: break-all;
}

.day-pass>h2 {
    font-size: 50px;
}


/* .card:not(:first-child) {
    margin-left: calc(var(--distance)*-1);
} */

.card:hover {
    transform: translatey(-0.5rem);
    /* transition: transform 0.5s ease; */
}


.detail-price-container {
    word-break: break-all;
    font-size: small;
}

.shop-now-btn>button {
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px 13px;
    border-style: none;
    font-weight: bolder;
}

.shop-now-btn>button:hover {
    transform: translateY(-0.3rem);
    background-color: white;
    color: black;
    transition: background-color 0.4s ease-out, transform 0.5s ease;
}

.shop-now-btn>button:not(:hover) {
    transform: translateY(0);
    transition: transform 0.5s ease;
}

.shop-now-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.price {
    font-size: 100px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.price-sign {
    font-size: 30px;
    display: flex;
}

.bottom-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(https://i.imgur.com/2J9Adhv.jpg);
}

.hours-operation {
    display: flex;
    margin-top: 15%;
    margin-left: 5%;
    margin-bottom: 15%;
}

.address {
    font-size: 30px;
}

.hours-day-time {
    margin-top: 2%;
}
