.landing-page-container {
    display: flex;
    flex-direction: column;
}

.sub-landing-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("https://i.imgur.com/lXcsJQ2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.landing-page-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15%;
}

.landing-page-intro>h1 {
    color: rgb(223, 14, 14);
    font-size: 80px;
    width: 40%;
}

.landing-page-intro>h3 {
    /* border: 1px solid red; */
    width: 70%;
    margin-top: 12%;
    font-size: 25px;
}

#try-us-btn {
    padding: 25px 0px;
    font-size: 30px;
    color: white;
    margin-top: 10%;
    cursor: pointer;
    border: 2px solid white;
    background-color: transparent;
    width: 330px;
    height: 100px;
    text-align: center;
    margin-bottom: 20%;
}

#try-us-btn:hover {
    color: black;
    background-color: white;
    transition: all 0.3s ease-in;
}

.fading-text {
    transition: opacity 0.5s ease;
}


.fading-text.fade-to-movement {
    opacity: 0;
}

.fading-text.fade-to-gym {
    opacity: 0;
}

.fading-text.show-movement {
    opacity: 1;
}

.fading-text.show-gym {
    opacity: 1;
}

.ambition-section-cover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(https://i.imgur.com/mS0Z4m2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.ambition-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.ambition-section>h2 {
    margin-bottom: 4%;
    font-size: 50px;
    margin-top: 22%;
    color: rgb(223, 14, 14);
}

.ambition-section>p {
    width: 70%;
    font-size: 35px;
    padding-bottom: 30%;
}

.ambition-section {
    opacity: 0;
    /* Initially hide the div */
    transform: translateY(200px);
    /* Move the div down by 50px */
    transition: opacity 0.5s ease, transform 1s ease;
}

.ambition-section.show {
    opacity: 1;
    /* Show the div */
    transform: translateY(0);
    /* Reset the div's position */
}


.join-the-movement-cover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(https://i.imgur.com/33JrlG9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.join-the-movement-section {
    display: flex;
    flex-direction: column;
    margin-top: 18%;
    padding-left: 7%;
}

.join-the-movement-section>h3 {
    font-size: 50px;
    margin-bottom: 2%;
    color: rgb(223, 14, 14);
}

.join-the-movement-section>p {
    font-size: 27px;
    margin-bottom: 5%;
    width: 70%;
}

.slogan-section {
    margin-left: 50%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slogan-section>h2 {
    margin-top: 10%;
    font-size: 50px;
    margin-bottom: 2%;
}

.slogan-section>p {
    margin-left: 10%;
    font-size: 30px;
    margin-bottom: 40%;

}

.slogan-section.show {
    opacity: 1;
}

.slogan-section h2 {
    display: inline-block;
    opacity: 0;
    transform: translateX(-100%);
    animation: word-appear 5s ease forwards;
    animation-delay: 1s;
}

@keyframes word-appear {
    from {
        opacity: 0;
        transform: translateX(0);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.pay-package-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(https://i.imgur.com/fGHQSuv.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.pay-package {
    display: flex;
    flex-direction: column;
}

.pay-package>h3 {
    font-size: 40px;
    margin-top: 15%;
    margin-left: 5%;
}

html {

    --bg-one: #973999;
    --bg-two: #f8598b;
    --bg-three: #f7bf00;
    --bg-panel: #EBEBEB;
    --color-headings: #333;
    --color-text: #999;
    --color-fun: #c44394;
    --distance: 4rem;
}

/* body {
    background: var(--bg);
    background-image: linear-gradient(to bottom right, var(--bg-one), var(--bg-two), var(--bg-three));
    font-family: 'Lobster', Helvetica, Arial, sans-serif;
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
    margin: 0;
} */

.cards {
    display: flex;
}

.card {
    z-index: 1;
    background: var(--bg-panel);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 4px 4px 12px 2px rgba(black, 0.60);
    transition: 0.4s;


    .day-pass {
        color: var(--color-fun);
    }

    a {
        text-decoration: none;
        color: var(--color-headings);
    }

    p {
        color: var(--color-text);
    }
}

.card:not(:first-child) {
    margin-left: calc(var(--distance)*-1);
}

.card:hover,
.card:focus-within {
    transform: translatey(-1rem);
    /* transition: transform 0.5s ease; */
}

.card:hover~.card,
.card:focus-within~.card {
    transform: translatex(var(--distance));
}

.day-pass {
    margin-left: -1rem;
}
