.landing-page-container {
    display: flex;
    flex-direction: column;
}

.sub-landing-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("https://i.imgur.com/lXcsJQ2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
}

.landing-page-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15%;
}

.landing-page-intro>h1 {
    color: rgb(223, 14, 14);
    font-size: 80px;
    width: 40%;
}

.landing-page-intro>h3 {
    /* border: 1px solid red; */
    width: 70%;
    margin-top: 12%;
    font-size: 25px;
}

#try-us-btn {
    padding: 25px 0px;
    font-size: 30px;
    color: white;
    margin-top: 10%;
    cursor: pointer;
    border: 2px solid white;
    background-color: transparent;
    width: 330px;
    height: 100px;
    text-align: center;
    margin-bottom: 20%;
}

#try-us-btn:hover {
    color: black;
    background-color: white;
    transition: all 0.3s ease-in;
}

.fading-text {
    transition: opacity 0.5s ease;
}


.fading-text.fade-to-movement {
    opacity: 0;
}

.fading-text.fade-to-gym {
    opacity: 0;
}

.fading-text.show-movement {
    opacity: 1;
}

.fading-text.show-gym {
    opacity: 1;
}

.ambition-section-cover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(https://i.imgur.com/mS0Z4m2.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.ambition-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.ambition-section>h2 {
    margin-bottom: 4%;
    font-size: 50px;
    margin-top: 22%;
    color: rgb(223, 14, 14);
}

.ambition-section>p {
    width: 70%;
    font-size: 35px;
    padding-bottom: 30%;
}

.ambition-section {
    opacity: 0;
    /* Initially hide the div */
    transform: translateY(200px);
    /* Move the div down by 50px */
    transition: opacity 0.5s ease, transform 1s ease;
}

.ambition-section.show {
    opacity: 1;
    /* Show the div */
    transform: translateY(0);
    /* Reset the div's position */
}


.join-the-movement-cover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(https://i.imgur.com/33JrlG9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
}

.join-the-movement-section {
    display: flex;
    flex-direction: column;
    margin-top: 18%;
    padding-left: 7%;
}

.join-the-movement-section>h3 {
    font-size: 50px;
    margin-bottom: 2%;
    color: rgb(223, 14, 14);
}

.join-the-movement-section>p {
    font-size: 27px;
    margin-bottom: 5%;
    width: 70%;
}

.slogan-section {
    margin-left: 50%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slogan-section>h2 {
    margin-top: 10%;
    font-size: 50px;
    margin-bottom: 2%;
}

.slogan-section>p {
    margin-left: 10%;
    font-size: 30px;
    margin-bottom: 40%;

}

.slogan-section.show {
    opacity: 1;
}

.slogan-section h2 {
    display: inline-block;
    opacity: 0;
    transform: translateX(-100%);
    animation: word-appear 5s ease forwards;
    animation-delay: 1s;
}


@keyframes word-appear {
    from {
        opacity: 0;
        transform: translateX(0);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.gallery-container {
    display: flex;
    /* border: 1px solid red; */
    flex-wrap: wrap;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(https://i.imgur.com/w6Kphkn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.each-gallery {
    flex-basis: 50%;
    /* border: 1px solid pink; */
    display: flex;
    justify-content: center;
    position: relative;
    height: 80%;
}

.each-gallery:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    z-index: 1;
}


.gallery-name {
    z-index: 1;
    position: absolute;
    left: 14%;
    top: 5%;
    font-weight: 600;
    font-size: 20px;
}

.each-gallery:nth-child(even) {
    margin-top: 6%;
}

.each-gallery:nth-child(odd) {
    margin-top: 3%;
}

.each-gallery:first-child {
    margin-top: 10%;
}


.each-gallery:last-child {
    margin-bottom: 10%;
}

.each-gallery>img {
    width: 90%;
    border-radius: 20px;
    border: 2px solid #9E896E;
}

.each-gallery:hover {
    transform: scale(1.02);
    filter: brightness(1.2);
    transition: transform 0.3s ease, filter 0.3s ease;
}

.each-gallery {
    transition: transform 0.3s ease, filter 0.3s ease;

}

.pay-package-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(https://i.imgur.com/fGHQSuv.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
}

.pay-package {
    display: flex;
    flex-direction: column;
}

.pay-package>h3 {
    font-size: 40px;
    margin-top: 12%;
    margin-left: 5%;
    margin-bottom: 5%;
}


.cards {
    display: flex;
    justify-content: space-around;
    gap: 0px;
    padding: 0px 10px;
    cursor: pointer;
    margin-bottom: 10%;
}

.card {
    z-index: 1;
    background: rgba(133, 114, 91, 0.6);
    border-radius: 1rem;
    padding: 1.8rem;
    /* box-shadow: 4px 4px 12px rgba(rgb(199, 193, 193), 0.60); */
    transition: 0.4s;
    display: flex;
    padding-bottom: 100px;
    /* backdrop-filter: blur(10px); */
}


.line {
    border-bottom: 1px solid rgba(133, 114, 91);
    margin: 12px 0px;
}

.day-pass {
    color: white;
    word-break: break-all;
}

.day-pass>h2 {
    font-size: 50px;
}


/* .card:not(:first-child) {
    margin-left: calc(var(--distance)*-1);
} */

.card:hover {
    transform: translatey(-0.5rem);
    /* transition: transform 0.5s ease; */
}


.detail-price-container {
    word-break: break-all;
    font-size: small;
}

.shop-now-btn>button {
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px 13px;
    border-style: none;
    font-weight: bolder;
}

.shop-now-btn>button:hover {
    transform: translateY(-0.3rem);
    background-color: white;
    color: black;
    transition: background-color 0.4s ease-out, transform 0.5s ease;
}

.shop-now-btn>button:not(:hover) {
    transform: translateY(0);
    transition: transform 0.5s ease;
}

.shop-now-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.price {
    font-size: 100px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.price-sign {
    font-size: 30px;
    display: flex;
}

.bottom-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(https://i.imgur.com/2J9Adhv.jpg);
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
}

.hours-operation {
    display: flex;
    margin-top: 15%;
    margin-left: 5%;
    margin-bottom: 15%;
}

.address {
    font-size: 30px;
}

#address {
    font-size: 25px;
}

#address2 {
    font-weight: lighter;
    font-size: 20px;
}

#email2 {
    font-weight: bold;
}



.hours-day-time {
    margin-top: 2%;
    font-weight: lighter;
    font-size: 20px;
}

.frequently-asked-questions {
    margin-bottom: 5%;
    margin-left: 4%;
}

.frequently-asked-questions>h2 {
    margin-top: 10%;
    margin-left: 2%;
    margin-bottom: 4%;
    font-size: 40px;
}


.frequent-image {
    display: flex;
    justify-content: space-between;
}

.faq-content-container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

.faq-images>img {
    width: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    /* border: 1px solid red; */
}

.faq-content {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    width: 90%;
    margin-left: 2%;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 2%;
}

.faq-content:hover {
    background-color: rgb(29, 28, 28);
    transition: all 0.3s ease;
}

.faq-title {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 3% 3%;
}

.line2 {
    border-bottom: 1px solid white;
    margin-bottom: 2%;
    margin-left: 4%;
    margin-right: 4%;
}


#first-answer {
    font-weight: 800;
}

.faq-answers {
    margin-bottom: 4%;
    margin-left: 2%;
}

.faq-answers span {
    display: block;
    margin-bottom: 3%;
    word-wrap: break-word;
    font-weight: lighter;

    margin-left: 2%;
    margin-right: 2%;

    .bold-words {
        font-weight: 800;
    }
}


.faq-collapse {
    max-height: 0;
    /* Adjust to the desired maximum height */
    overflow: hidden;
    transition: max-height 0.6s ease, opacity 0.7s ease;
    opacity: 0;
}

.faq-collapse.collapsed {
    max-height: 1000px;
    opacity: 1;
}

.faq-collapse.collapsed>* {
    opacity: 1;
    transition: opacity 0.7s ease;
}

.x-btn {
    transition: transform 0.3s ease;
    background-color: transparent;
    color: white;
    border-style: none;
    font-size: 25px;
    cursor: pointer;
    /* border: 1px solid red; */
    border-radius: 20px;
    padding: 0px 7px;
    margin-bottom: 5px;
    height: 30px;
    text-align: center;
}

.x-btn:hover {
    background-color: rgb(150, 144, 144);
    transition: all 0.3s ease-in-out;
}

.rotate-225 {
    transform: rotate(225deg);
}


.bounce-animation {
    animation: bounce 0.5s linear;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(0.99);
    }

    50% {
        transform: scale(1.01);
    }

    75% {
        transform: scale(0.995);
    }

    100% {
        transform: scale(1);
    }
}

.footer {
    display: flex;
    justify-content: space-around;
}

.footer * {
    height: 40px;
    margin-bottom: 5%;
}

.footer *:hover {
    transform: scale(1.1);
    filter: brightness(1.3);
    transition: transform 0.3s ease, filter 0.3s ease;
}

.footer-about {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 5%;
}
