body {
  background-color: black;
  color: #FFFFFF;
  font-family: 'Noto Sans', sans-serif;
}


.profile-dropdown {
  position: absolute;
  /* border: 1px solid red; */
  top: 100%;
  right: 1%;
}

.top-right-modal {
  display: flex;
  flex-direction: column;
  width: 115px;
  background-color: transparent;
  color: white;
}

.top-right-modal>button {
  background-color: transparent;
  color: white;
  font-size: 15px;
  padding: 7px 0px;
  border-style: none;
  border: 1px solid grey;
  border-radius: 7px;
  cursor: pointer;
}

.top-right-modal>button:hover {
  background-color: white;
  color: black;
  transition: all 0.4s ease;
}

.hidden {
  display: none;
}


.top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border-bottom: 1px solid #484a4d; */
  ;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0px;
  background-color: #151616;
  z-index: 2;
  /* border: 1px red solid; */

}

.topright-nav {
  display: flex;
  align-items: center;
}


.logo-and-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

#ironreligionimage {
  /* border-radius: 150px; */
  height: 55px;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  transition: transform 0.3s ease, filter 0.3s ease;
  /* border-radius: 10px; */
}

#ironreligionimage:hover {
  transform: scale(1.02);
  filter: brightness(1.5);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.user-menu-content {
  /* border: 1px solid red; */
  display: flex;
  flex-flow: column;
  align-items: center;
  grid-gap: 5px;
  grid-gap: 5px;
  gap: 5px;
  font-size: 90%;
  text-align: center;
  position: relative;
  right: 1%;
  top: 100%;
  width: 150px;
  padding: 10px;
  box-shadow: -2px 5px 8px #151616;
}

.my-class-btn {
  background-color: transparent;
  color: white;
  font-size: 15px;
  padding: 6px 0px;
  border-style: none;
  border: 1px solid grey;
  border-radius: 7px;
  cursor: pointer;
  width: 100%;
}

.my-class-btn:hover {
  background-color: white;
  color: black;
  transition: all 0.4s ease;
}

#logout-btn-cover {
  width: 100%;
}

#logout-btn {
  background-color: transparent;
  color: white;
  font-size: 15px;
  padding: 7px 0px;
  border-style: none;
  border: 1px solid grey;
  border-radius: 7px;
  cursor: pointer;
  width: 100%;
}

#logout-btn:hover {
  background-color: white;
  color: black;
  transition: all 0.4s ease;
}


.nav-container {
  background-color: transparent;
  /* border: 1px solid red; */
}

.menu-links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid pink; */
  height: 70px;
  width: 70%;
}

.menu-links {
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-around;
  padding: 15px 0px;
}


.menu-links a {
  text-decoration: none;
  font-size: 18px;
  /* border: 1px solid red; */
  padding: 0px 20px;
  color: #e6e6e6;
}


.menu-links:hover a {
  color: gray;
  transition: all 0.4s ease;
}

.menu-links a:hover {
  color: white;
  transition: all 0.2s ease-in-out;
}

.my-account {
  cursor: pointer;
}

/* .menu-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #B6BEC0;
  transform: bottom right;
  transition: width 0.35s ease-in;
}

.menu-links a:hover::after {
  width: 100%;
} */

/* .menu-links>*:not(:hover)::after {
  width: 0;
} */
